In [1]:
import numpy as np
import pandas as pd

In [2]:
movies = pd.read_csv('datasets/tmdb_5000_movies.csv')
credits = pd.read_csv('datasets/tmdb_5000_credits.csv')

In [3]:
movies.head(1)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800

In [4]:
credits.head(1)

,movie_id,title,cast,crew
0,19995,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."

In [5]:
 movies = movies.merge(credits, on='title')

In [6]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4809 entries, 0 to 4808
Data columns (total 23 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   budget                4809 non-null   int64
 1   genres                4809 non-null   object
 2   homepage              1713 non-null   object
 3   id                    4809 non-null   int64
 4   keywords              4809 non-null   object
 5   original_language     4809 non-null   object
 6   original_title        4809 non-null   object
 7   overview              4806 non-null   object
 8   popularity            4809 non-null   float64
 9   production_companies  4809 non-null   object
 10  production_countries  4809 non-null   object
 11  release_date          4808 non-null   object
 12  revenue               4809 non-null   int64
 13  runtime               4807 non-null   float64
 14  spoken_languages      4809 non-null   object
 15  status                4809 non-null   object
 16  tagline               3965 non-null   object
 17  title                 4809 non-null   object
 18  vote_average          4809 non-null   float64
 19  vote_count            4809 non-null   int64
 20  movie_id              4809 non-null   int64
 21  cast                  4809 non-null   object
 22  crew                  4809 non-null   object
dtypes: float64(3), int64(5), object(15)
memory usage: 901.7+ KB

In [7]:
# genres, keywords, title, overview , cast , crew
df = movies[['movie_id', 'title','genres', 'keywords', 'cast' , 'crew']]

In [8]:
df.isnull().sum()

movie_id    0
title       0
genres      0
keywords    0
cast        0
crew        0
dtype: int64

In [9]:
df.dropna(inplace=True)

C:\Users\91957\AppData\Local\Temp\ipykernel_14676\1379821321.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.dropna(inplace=True)

In [10]:
df.duplicated().sum()

0

In [11]:
df.iloc[0].genres

'[{"id": 28, "name": "Action"}, {"id": 12, "name": "Adventure"}, {"id": 14, "name": "Fantasy"}, {"id": 878, "name": "Science Fiction"}]'

In [12]:
import ast
def convert(obj):
    l = []
    for i in ast.literal_eval(obj):
        l.append(i['name'])
    return l

In [13]:
df['genres'] = df['genres'].apply(convert)

C:\Users\91957\AppData\Local\Temp\ipykernel_14676\3112467175.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['genres'] = df['genres'].apply(convert)

In [14]:
df.head(1)

,movie_id,title,genres,keywords,cast,crew
0,19995,Avatar,"[Action, Adventure, Fantasy, Science Fiction]","[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."

In [15]:
df['keywords']  = df['keywords'].apply(convert)

C:\Users\91957\AppData\Local\Temp\ipykernel_14676\3140990868.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['keywords']  = df['keywords'].apply(convert)

In [16]:
def convertkey(obj):
    l = []
    counter = 0
    for i in ast.literal_eval(obj):
        if counter != 3:
            l.append(i['name'])
            counter += 1
        else:
            break
    return l

In [17]:
df['cast'] = df['cast'].apply(convertkey)

C:\Users\91957\AppData\Local\Temp\ipykernel_14676\1333990666.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['cast'] = df['cast'].apply(convertkey)

In [18]:
def fetch_director(obj):
    l = []
    for i in ast.literal_eval(obj):
        if i['job'] == 'Director':
            l.append(i['name'])
            break
    return l

In [19]:
df['crew'] = df['crew'].apply(fetch_director)

C:\Users\91957\AppData\Local\Temp\ipykernel_14676\392151855.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['crew'] = df['crew'].apply(fetch_director)

In [20]:
df.head(1)

,movie_id,title,genres,keywords,cast,crew
0,19995,Avatar,"[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...","[Sam Worthington, Zoe Saldana, Sigourney Weaver]",[James Cameron]

In [21]:
df['genres'] = df['genres'].apply(lambda x: [i.replace(' ', '') for i in x])
df['keywords'] = df['keywords'].apply(lambda x: [i.replace(' ', '') for i in x])
df['cast'] = df['cast'].apply(lambda x: [i.replace(' ', '') for i in x])
df['crew'] = df['crew'].apply(lambda x: [i.replace(' ', '') for i in x])

C:\Users\91957\AppData\Local\Temp\ipykernel_14676\841140280.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['genres'] = df['genres'].apply(lambda x: [i.replace(' ', '') for i in x])
C:\Users\91957\AppData\Local\Temp\ipykernel_14676\841140280.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['keywords'] = df['keywords'].apply(lambda x: [i.replace(' ', '') for i in x])
C:\Users\91957\AppData\Local\Temp\ipykernel_14676\841140280.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['cast'] = df['cast'].apply(lambda x: [i.replace(' ', '') for i in x])
C:\Users\91957\AppData\Local\Temp\ipykernel_14676\841140280.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['crew'] = df['crew'].apply(lambda x: [i.replace(' ', '') for i in x])

In [22]:
no_space_title =  df['title'].apply(lambda x: [x.replace(' ','')])

In [23]:
df.head(1)

,movie_id,title,genres,keywords,cast,crew
0,19995,Avatar,"[Action, Adventure, Fantasy, ScienceFiction]","[cultureclash, future, spacewar, spacecolony, ...","[SamWorthington, ZoeSaldana, SigourneyWeaver]",[JamesCameron]

In [24]:
df['tags'] = no_space_title + df['genres'] + df['keywords'] + df['cast'] + df['crew']

C:\Users\91957\AppData\Local\Temp\ipykernel_14676\1089991625.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['tags'] = no_space_title + df['genres'] + df['keywords'] + df['cast'] + df['crew']

In [25]:
df.head(1)

,movie_id,title,genres,keywords,cast,crew,tags
0,19995,Avatar,"[Action, Adventure, Fantasy, ScienceFiction]","[cultureclash, future, spacewar, spacecolony, ...","[SamWorthington, ZoeSaldana, SigourneyWeaver]",[JamesCameron],"[Avatar, Action, Adventure, Fantasy, ScienceFi..."

In [26]:
new_df = df[['movie_id', 'title' , 'tags']]

In [27]:
new_df['tags'] = new_df['tags'].apply(lambda x : ' '.join(x))

C:\Users\91957\AppData\Local\Temp\ipykernel_14676\3809564981.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags'] = new_df['tags'].apply(lambda x : ' '.join(x))

In [28]:
new_df['tags'] = new_df['tags'].apply(lambda x: x.lower())

C:\Users\91957\AppData\Local\Temp\ipykernel_14676\1380776331.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags'] = new_df['tags'].apply(lambda x: x.lower())

In [29]:
new_df

,movie_id,title,tags
0,19995,Avatar,avatar action adventure fantasy sciencefiction...
1,285,Pirates of the Caribbean: At World's End,piratesofthecaribbean:atworld'send adventure f...
2,206647,Spectre,spectre action adventure crime spy basedonnove...
3,49026,The Dark Knight Rises,thedarkknightrises action crime drama thriller...
4,49529,John Carter,johncarter action adventure sciencefiction bas...
...,...,...,...
4804,9367,El Mariachi,elmariachi action crime thriller unitedstates–...
4805,72766,Newlyweds,newlyweds comedy romance edwardburns kerrybish...
4806,231617,"Signed, Sealed, Delivered","signed,sealed,delivered comedy drama romance t..."
4807,126186,Shanghai Calling,shanghaicalling danielhenney elizacoupe billpa...
4808,25975,My Date with Drew,mydatewithdrew documentary obsession camcorder...

In [30]:
from nltk.stem.porter import PorterStemmer
ps = PorterStemmer()

In [31]:
def stem(text):
    y = []
    for i in text.split():
        y.append(ps.stem(i))
    return ' '.join(y)

In [32]:
new_df['tags'] = new_df['tags'].apply(stem)

C:\Users\91957\AppData\Local\Temp\ipykernel_14676\3213734980.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags'] = new_df['tags'].apply(stem)

In [33]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer(max_features=5000 ,stop_words='english')

In [34]:
vectors = cv.fit_transform(new_df['tags']).toarray()

In [35]:
cv.get_feature_names_out()

array(['11', '16thcenturi', '17thcenturi', ..., 'zooeydeschanel',
       'zookeep', 'zoëkravitz'], dtype=object)

In [36]:
vectors.shape

(4809, 5000)

In [37]:
from sklearn.metrics.pairwise import cosine_similarity

In [38]:
similarity = cosine_similarity(vectors)

In [39]:
new_df['title']

0                                         Avatar
1       Pirates of the Caribbean: At World's End
2                                        Spectre
3                          The Dark Knight Rises
4                                    John Carter
                          ...
4804                                 El Mariachi
4805                                   Newlyweds
4806                   Signed, Sealed, Delivered
4807                            Shanghai Calling
4808                           My Date with Drew
Name: title, Length: 4809, dtype: object

In [66]:
def recommend(movie):
    if movie not in new_df['title'].values:
        print("movie not found")
        return
    movie_index = new_df[new_df['title'] == movie].index[0]
    movie_list = sorted(list(enumerate(similarity[movie_index])), reverse=True, key= lambda x: x[1])[1:11]
    
    for i in movie_list:
        print(i[0], new_df.iloc[i[0]].title)

In [77]:
recommend('The Avengers')

7 Avengers: Age of Ultron
79 Iron Man 2
26 Captain America: Civil War
85 Captain America: The Winter Soldier
182 Ant-Man
126 Thor: The Dark World
31 Iron Man 3
169 Captain America: The First Avenger
788 Deadpool
68 Iron Man

In [52]:
import pickle

In [53]:
pickle.dump(new_df, open('movie_data.pkl','wb'))

In [54]:
pickle.dump(similarity,open('similarity.pkl','wb'))

In [ ]:
def fromTags(tags):
    tags = tags.lower()
    li = [tags]
    df = pd.DataFrame(li)
    newVector = cv.fit_transform(df).toarray()
    sp = cosine_similarity(vectors, newVector)
    return sp

In [ ]:
fromTags('jamescameronjakesullyalienpandorawarSamWorthingtonZoeSaldana')

In [ ]:
new_df['tags'][0]

In [66]:
def from_tags(tags):
    tags = tags.lower()
    li = [tags]
    newvector = cv.transform(li).toarray()
    similarity = cosine_similarity(newvector,vectors)
    movie_list = sorted(list(enumerate(similarity[0])), reverse=True, key= lambda x: x[1])[0:6]
    for i in movie_list:
        print(i[0], new_df.iloc[i[0]].title)

In [96]:
from_tags('')

0 Avatar
1 Pirates of the Caribbean: At World's End
2 Spectre
3 The Dark Knight Rises
4 John Carter
5 Spider-Man 3

In [58]:
movie_list

[(0, 0.0), (1, 0.0), (2, 0.0), (3, 0.0), (4, 0.0), (5, 0.0)]

0 Avatar
1 Pirates of the Caribbean: At World's End
2 Spectre
3 The Dark Knight Rises
4 John Carter
5 Spider-Man 3

0                                   Avatar
1       PiratesoftheCaribbean:AtWorld'sEnd
2                                  Spectre
3                       TheDarkKnightRises
4                               JohnCarter
                       ...
4804                            ElMariachi
4805                             Newlyweds
4806               Signed,Sealed,Delivered
4807                       ShanghaiCalling
4808                        MyDatewithDrew
Name: title, Length: 4806, dtype: object

In [30]:
 df['title'].apply(lambda x: [x.replace(' ','')])

0                                   [Avatar]
1       [PiratesoftheCaribbean:AtWorld'sEnd]
2                                  [Spectre]
3                       [TheDarkKnightRises]
4                               [JohnCarter]
                        ...
4804                            [ElMariachi]
4805                             [Newlyweds]
4806               [Signed,Sealed,Delivered]
4807                       [ShanghaiCalling]
4808                        [MyDatewithDrew]
Name: title, Length: 4806, dtype: object